__pycache__/
**/__pycache__/
*.py[cod]
*.pyo
*.pyd

.env
.venv
venv/
env/

.vscode/
.idea/

build/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata/

.pytest_cache/
.mypy_cache/
.ruff_cache/
.pylint.d/
.coverage
htmlcov/

.DS_Store
Thumbs.db

.streamlit/secrets.toml

tmp/
temp/
__temp__/