<section data-mpa-md-key="heading-1" style="margin-bottom: 16px;margin-top: 16px;" data-mpa-md-template="30005" data-mpa-action-id="medv6ipvbza" data-pm-slice="0 0 []">
    <section style="width: 100%;" data-mid="">
      <section mpa-none-content="t" style="text-align: left;" data-mid="">
        <p style="font-size: 28px;color: #333333;line-height: 40px;" data-mid="">
          <span leaf="" data-mpa-md-heading-idx="01">Part.{index}</span>
        </p>
      </section>
      <section style="text-align: left;display: flex;" data-mid="">
        <section data-mpa-md-content="t" style="font-size: 18px;color: #FFFFFF;background: #785BFF;padding: 2px 1px;font-weight: bold;letter-spacing: 1px;" data-mid="" data-mpa-md-action-id="medv6ipv1v8l">
          <span leaf="">{title}</span>
        </section>
      </section>
    </section>
</section>
