<section data-mpa-template="t" mpa-data-temp-power-by="yiban.io" mpa-from-tpl="t" data-mpa-action-id="medv6h9k1v0m" data-pm-slice="0 0 []">
    <section style="display: flex;flex-direction: column;padding: 0 12px;" data-mid="" mpa-from-tpl="t">
      <section style="display: flex;flex-direction: column;align-self: center;" data-mid="" mpa-from-tpl="t">
        <section style="width: 188px;display: flex;flex-direction: column;" data-mid="" mpa-from-tpl="t">
          <section style="width: 100%;display: flex;align-items: center;justify-content: space-between;background: #FFFFFF;border-radius: 2px;border: 1px solid #4F4F4F;border-bottom: none;padding: 2px 5px;" data-mid="" mpa-from-tpl="t">
            <section style="display: flex;justify-content: center;align-items: center;width: 26px;height: 7px;flex-shrink: 0;margin: 0 0 1px 0;" data-mid="" mpa-from-tpl="t">
              <span style="line-height: 7px;height: 7px;" data-mid=""><span leaf=""><img data-ratio="0.2692307692307692" data-w="52" style="background-color: transparent;" data-src="http://mmbiz.qpic.cn/mmbiz_png/cJicuekTRgkTAEdVHA81XmZfVVTXa9RwiaTlqTdljdvz4y1uowLCIN0PCfFwqpC5U0VyZr1JoUmWd7P3z2rGibgeA/0?from=appmsg" src="http://mmbiz.qpic.cn/mmbiz_png/cJicuekTRgkTAEdVHA81XmZfVVTXa9RwiaTlqTdljdvz4y1uowLCIN0PCfFwqpC5U0VyZr1JoUmWd7P3z2rGibgeA/0?from=appmsg"></span></span>
            </section>
            <section style="display: flex;justify-content: center;align-items: center;width: 9px;height: 9px;flex-shrink: 0;" data-mid="" mpa-from-tpl="t">
              <span style="line-height: 9px;height: 9px;" data-mid=""><span leaf=""><img data-ratio="1" data-w="18" style="background-color: transparent;" data-src="http://mmbiz.qpic.cn/mmbiz_png/hrVTYmsgbJJW2fxOK0aicPNoNbicUYprtKhO7vibdfO0RgP82y28yADQhPUSXibVZ4bZJAD1ibfm4lMO17y6aDZibFsg/0?from=appmsg" src="http://mmbiz.qpic.cn/mmbiz_png/hrVTYmsgbJJW2fxOK0aicPNoNbicUYprtKhO7vibdfO0RgP82y28yADQhPUSXibVZ4bZJAD1ibfm4lMO17y6aDZibFsg/0?from=appmsg"></span></span>
            </section>
          </section>
          <section style="width: 100%;background: #EFEFEF;border-radius: 2px;border: 1px solid #4F4F4F;margin: -1px 0;z-index: 1;padding: 6px 0 5px 0;" data-mid="" mpa-from-tpl="t">
            <section style="text-align: center;" data-mid="" mpa-from-tpl="t">
              <p yb-mpa-mark="mark-style-text" style="font-size: 14px;color: #1E1E1E;line-height: 20px;word-break: break-word;" data-mid="">
                <span leaf="">点击上方</span>
                <span style="font-weight: bold;padding: 0 5px;color: #0081fe;" data-mid=""><span leaf="">蓝字</span></span>
                <span leaf="">关注我们</span>
              </p>
            </section>
          </section>
          <section style="display: grid;grid-template-columns: 50% 50%;" data-mid="" mpa-from-tpl="t">
            <section style="text-align: center;background: #D9D9D9;border-radius: 0 0 0 2px;border: 1px solid #4F4F4F;border-top: none;padding: 3px 0 1px 0;" data-mid="" mpa-from-tpl="t">
              <p style="font-weight: bold;font-size: 9px;color: #8A8A8A;line-height: 13px;word-break: break-word;" data-mid="">
                <span leaf="">拒绝</span>
                <span leaf=""><br></span>
              </p>
            </section>
            <section style="text-align: center;background: #55E060;border-radius: 0 0 2px 0;border-right: 1px solid #4F4F4F;border-bottom: 1px solid #4F4F4F;padding: 3px 0 1px 0;" data-mid="" mpa-from-tpl="t">
              <p style="font-weight: bold;font-size: 9px;color: #252525;line-height: 13px;word-break: break-word;" data-mid="">
                <span leaf="">接受</span>
                <span leaf=""><br></span>
              </p>
            </section>
          </section>
          <section style="width: 43px;height: 57px;display: flex;justify-content: center;align-items: center;align-self: flex-end;margin: -18px -12px 0 0;" data-mid="" mpa-from-tpl="t" nodeleaf="">
            <img data-ratio="1.3255813953488371" data-w="86" style="background-color: transparent;" data-src="http://mmbiz.qpic.cn/sz_mmbiz_png/ewYRdE6ojDuXdXTJ4tDDorSQatvgBtAqX5rxN144qteicPTETO50qHsjVR9j93GL4TT0frFulQF6Xy7SbnpUukg/0?from=appmsg" src="http://mmbiz.qpic.cn/sz_mmbiz_png/ewYRdE6ojDuXdXTJ4tDDorSQatvgBtAqX5rxN144qteicPTETO50qHsjVR9j93GL4TT0frFulQF6Xy7SbnpUukg/0?from=appmsg">
          </section>
        </section>
      </section>
    </section>
</section>
