<section data-mpa-template="t" mpa-data-temp-power-by="yiban.io" mpa-from-tpl="t" data-mpa-action-id="medv5ge7bei">
    <section style="width: 100%;display: flex;justify-content: center;align-items: center;padding: 0px 14px;box-sizing: border-box;" mpa-from-tpl="t">
      <section style="display: flex;flex-direction: column;align-items: center;width: 100%;" mpa-from-tpl="t">
        <section style="display: flex;flex-direction: column;align-items: center;margin-bottom: 15px;" mpa-from-tpl="t">
          <p style="font-family: 'Alibaba PuHuiTi 2.0', sans-serif;font-size: 18px;font-weight: 400;color: #363636;margin: 0;line-height: 1.8;">
            <span leaf="">FOLLOW US</span>
            <span leaf=""><br></span>
          </p>
          <p style="font-family: 'Alibaba PuHuiTi 2.0', sans-serif;font-size: 18px;font-weight: 400;color: #363636;margin: 0;line-height: 1.2;">
            <span leaf="">关注我们</span>
            <span leaf=""><br></span>
          </p>
        </section>
        <section style="border: 2px solid #404040;border-radius: 21px;display: flex;align-items: center;justify-content: space-between;padding: 8px 15px;width: 100%;box-sizing: border-box;" mpa-from-tpl="t">
          <section style="text-align: left;" mpa-from-tpl="t">
            <p yb-mpa-mark="mark-style-text" style="font-family: 'Alibaba PuHuiTi 2.0', sans-serif;font-size: 14px;font-weight: 500;color: #363636;margin: 0;">
              <span leaf="">CodeDriver AI Lab</span>
            </p>
          </section>
        </section>
      </section>
    </section>
</section>
