<section data-mpa-md-key="blockquote" style="margin-bottom: 16px;margin-top: 16px;" data-mpa-md-template="30005" data-mpa-action-id="medx0eve1gs9" data-pm-slice="0 0 []">
    <section style="width: 100%;" data-mid="">
      <section style="background: #ffffff;border: 2px solid #785bff;width: 100%;padding: 14px;" data-mid="">
        <section data-mpa-md-content="t" style="font-size: 15px;color: #333333;" data-mid="" data-mpa-md-action-id="medx0euy1dsb">
          <span leaf="">{content}</span>
        </section>
      </section>
      <section mpa-none-content="t" style="display: flex;justify-content: flex-start;align-items: center;flex-direction: column;" data-mid="">
        <section style="display: flex;justify-content: center;align-items: center;grid-column-gap: 4px;align-self: flex-end;margin-right: 18px;background-color: #ffffff;margin-top: -5px;padding: 0px 4px;" data-mid="">
          <section style="width: 3px;height: 8px;background: #785bff;transform: skew(12deg);" data-mid="">
            <span leaf=""><br></span>
          </section>
          <section style="width: 3px;height: 8px;background: #785bff;transform: skew(12deg);" data-mid="">
            <span leaf=""><br></span>
          </section>
          <section style="width: 3px;height: 8px;background: #785bff;transform: skew(12deg);" data-mid="">
            <span leaf=""><br></span>
          </section>
        </section>
      </section>
    </section>
</section>
